.App {
  background-image: url(../public/solar_empire.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80vh;
  background-color: rgb(49, 10, 10);
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

a, a:link, a:hover, a:active{
  color: rgb(241, 38, 72);
  text-decoration: none;
}